#!/usr/bin/env python

class DevelopmentConfig():
  DEBUG = True
  USE_SQLITE = False
  DB_NAME = 'sdv_summary_development'
  DB_USER = ''
  DB_PASSWORD = ''
  # Leave commented to use unix socket
  # DB_HOST = 'postgres'
  ASSET_PATH = 'sdv/assets'
  LANGUAGES = ['en']
  SECRET_KEY = 'changeme'

config = {
  'development': DevelopmentConfig
}
