#!/usr/bin/env python

class DevelopmentConfig():
  DEBUG = True
  USE_SQLITE = False
  DB_NAME = 'sdv_summary_development'
  DB_USER = ''
  DB_PASSWORD = ''
  ASSET_PATH = 'sdv/assets'

config = {
  'development': DevelopmentConfig
}
