{% if advert %}
    <div class="row center-block">
        <div class="col-md-12 col-sm-12">
            <div class="">
                <a href="{{ url_for('route_out', url=advert['url']|quote_plus, id=advert['id'], place=advert['place']) }}"
                   target="_blank" onclick="ga('send', 'event', 'out_route', {{ advert['reference'] }});">
                    {% if advert['type'] == 'banner' %}
                        <img class="img-responsive center-block"
                             src="{{ advert['src'] }}" alt="{{ advert['text'] }}">
                    {% elif advert['type'] == 'text' %}
                        <p class="text-center">{{ advert['text'] }}</p>
                    {% endif %}
                </a>
            </div>
        </div>
    </div>
{% endif %}