{% extends "base.html" %}
{% block title %}Browse - {{super()}}{% endblock %}
{% block header %}
	{{super()}}
	{% include "votesetup.html" %}
{% endblock %}
{%block bodycontent %}
{% include "titlebar.html" %}
<div class="row center-block panel">
	<div class="interiorpanel"  style="overflow:visible;">
		<div class="row" style="padding-bottom:1em;">
			<div class="col-md-12" style="padding-left:2%;padding-right:2%;">
				<div class="form-group">
					<form enctype="multipart/form-data" action="" method="get">
						<label for="searchControl"><h2><a class="titlelink mainTitle" href="/all">{{_("Browse")}}</a></h2></label>
						<div class="input-group">
							<input class="form-control input-lg" id="searchControl" type="text" name="search" describedby="helpBlock" value="{%if request.args.get('search')%}{{request.args.get('search') }}{%endif%}">
							<span class="input-group-btn">
								<button class="btn btn-primary btn-lg" type="submit" describedby="helpBlock">{{_("Search")}}</button>
							</span>
						</div>
						{% for key in request.args.keys() %}
							{%if key != 'search' %}
								<input type="hidden" type="text" name="{{key}}" value="{{request.args.get(key)}}">
							{%endif%}
						{% endfor %}
						<span id="helpBlock" class="help-block sr-only">{{_("Search for farms by user or farm name, or change sort type")}}</span>
					</form>
				</div>
				<div class="text-center">
					<p class="pull-left browsetext">{{_("Sorting %(number)s results by ",number=recents.total)}}</p>
					{% set sort_types = {'rating':_('top rated'),'views':_('most views'),'recent':_('most recent')} %}
					<div class="btn-group pull-left dropdown">
						<button class="btn btn-primary dropdown-toggle btn-link browsebutton" type="button" data-toggle="dropdown">{{sort_types.get(request.args.get('sort'),_('most recent'))}}<span class="caret"></span></button>
						<ul class="dropdown-menu">
						{% set url_args = dict(request.args) %}
							{% do url_args.update({'sort':'rating'}) %}
							<li><a href="{{url_for('allmain',**url_args)}}">{{sort_types.get('rating')}}</a></li>
							{% do url_args.update({'sort':'views'}) %}
							<li><a href="{{url_for('allmain',**url_args)}}">{{sort_types.get('views')}}</a></li>
							{% do url_args.update({'sort':'recent'}) %}
							<li><a href="{{url_for('allmain',**url_args)}}">{{sort_types.get('recent')}}</a></li>
						</ul>
					</div>
					<p class="pull-left browsetext">{{_("showing")}}</p>
					{% set dl_types = {'True':_('only downloadable')} %}
					<div class="btn-group pull-left dropdown">
						<button class="btn btn-primary dropdown-toggle btn-link browsebutton" type="button" data-toggle="dropdown">{{dl_types.get(request.args.get('dl'),_('all farms'))}}<span class="caret"></span></button>
						<ul class="dropdown-menu">
						{% set url_args = dict(request.args) %}
							{% do url_args.pop('dl',None) %}
							<li><a href="{{url_for('allmain',**url_args)}}">{{_("all farms")}}</a></li>
							{% do url_args.update({'dl':True}) %}
							<li><a href="{{url_for('allmain',**url_args)}}">{{dl_types.get('True')}}</a></li>
						</ul>
					</div>
					<p class="pull-left browsetext">{{_("with")}}</p>
					{% set thumb_types = {'True':_('full')} %}
					<div class="btn-group pull-left dropdown">
						<button class="btn btn-primary dropdown-toggle btn-link browsebutton" type="button" data-toggle="dropdown">{{thumb_types.get(request.args.get('full_thumbnail'),_('minimap'))}}<span class="caret"></span></button>
						<ul class="dropdown-menu">
						{% set url_args = dict(request.args) %}
							{% do url_args.pop('full_thumbnail',None) %}
							<li><a href="{{url_for('allmain',**url_args)}}">{{_("minimap")}}</a></li>
							{% do url_args.update({'full_thumbnail':True}) %}
							<li><a href="{{url_for('allmain',**url_args)}}">{{thumb_types.get('True')}}</a></li>
						</ul>
					</div>
					<p class="pull-left browsetext">{{_("thumbnail")}}&nbsp;</p>
					{% if 'series' in request.args or (request.args.get('liked')=='True' and logged_in()) %}
						<p class="pull-left browsetext">{{_("limiting results to")}}&nbsp;</p>
						{% if 'series' in request.args %}
							{% set url_args = dict(request.args) %}
							{% do url_args.pop('series',None) %}
							<p class="pull-left browsetext">{{_("farms in same series as")}} <a href="{{request.args.get('series')}}">{{request.args.get('series')}}</a> (<a href="{{url_for('allmain',**url_args)}}">{{_("remove limit")}}</a>)&nbsp;</p>
						{% endif %}
						{% if 'series' in request.args and (request.args.get('liked')=='True' and logged_in()) %}
							<p class="pull-left browsetext">and&nbsp;</p>
						{% endif %}
						{% if (request.args.get('liked')=='True' and logged_in()) %}
							{% set url_args = dict(request.args) %}
							{% do url_args.pop('liked',None) %}
							<p class="pull-left browsetext">{{_("farms I upvoted")}} (<a href="{{url_for('allmain',**url_args)}}">{{_("remove limit")}}</a>)</p>
						{% endif %}

					{% endif %}
				</div>
			</div>
		</div>
		{% if error %}
			<div class="row">
				<div class="col-md-12">
					<p class="text-danger text-center"><strong>{{_("Error:")}}</strong> {{ error }}</p>
				</div>
			</div>
		{% endif %}
		{% include "recents.html" %}
		<div class="row">
			<div class="col-md-12 text-center">
				{% set url_args = dict(request.args) %}
				<p>
				{% if request.args.get('p')!=None and request.args.get('p')|int>1 %}
					{% do url_args.update({'p':0}) %}
					<a href="{{url_for('allmain',**url_args)}}">{{_("newest")}}</a>
				{% else %}
					<span class="text-muted">{{_("newest")}}</span>
				{% endif %}
				{% if request.args.get('p')!=None and request.args.get('p')|int>0 %}
					{% do url_args.update({'p':request.args.get('p')|int-1}) %}
					<a href="{{url_for('allmain',**url_args)}}">{{_("previous")}}</a>
				{% else %}
					<span class="text-muted">{{_("previous")}}</span>
				{% endif %}
				{% if request.args.get('p')!=None %}
					{{request.args.get('p')}}
				{%else%}
					0
				{%endif%}
				{% if offset + recents.posts|length < recents.total %}
					{%if request.args.get('p')!= None%}
						{% do url_args.update({'p':request.args.get('p')|int+1}) %}
					{%else%}
						{% do url_args.update({'p':1}) %}
					{%endif%}
					<a href="{{url_for('allmain',**url_args)}}">{{_("next")}}</a>
				{% else %}
					<span class="text-muted">{{_("next")}}</span>
				{% endif %}
				{% if offset + (recents.posts|length * 2) < recents.total %}
					{% do url_args.update({'p':(recents.total/recents.posts|length)|round(0,'ceil')|int - 1 }) %}
					<a href="{{url_for('allmain',**url_args)}}">{{_("oldest")}}</a>
				{% else %}
					<span class="text-muted">{{_("oldest")}}</span>
				{% endif %}
				</p>
			</div>
		</div>
	</div>
</div>

{% endblock %}