{% extends "base.html" %}
{% block header %}
{{ super() }}
{% include "votesetup.html" %}
<script src="{{ url_for('static', filename='js/get_recents.js') }}"></script>
<script src="{{url_for('static',filename='js/flashedmessages.js')}}" type="text/javascript" charset="utf-8"></script>
{% endblock %}
{%block bodycontent %}
{% include "titlebar.html" %}
{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			<div class="row center-block" id="{{loop.index0}}-container">
				<div class="col-md-12 panel text-center">
					<div class="bulletinpanel">
						<div class="bulletinclose">
							<span id="{{loop.index0}}-{%if 'cookie_controlled' in message.keys()%}scafc-{{message.cookie_controlled}}{%else%}fc{%endif%}" class="clickable"><img class="img-responsive" src="{{url_for('static',filename='css/bulletin/cross.png')}}"></span>
						</div>
						<div class="row center-block">
							<div class="col-md-12">
								{{message.message|safe}}
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	{% endif %}
{% endwith %}
<div class="row center-block panel">
	<div class="interiorpanel">
		
	<!--<div class="row">
		<p style="width: 80%; margin: 0 auto;">This site generates a profile page from your Stardew Valley savegame. It automatically links uploads from different stages.</p>
	</div>-->
		<div class="row">
			<div class="col-md-12" style="padding-left:2%;padding-right:2%;">
				<div class="form-group">
					<form enctype="multipart/form-data" action="" method="post">
						<label for="uploadFarm" class="sr-only">{{_("Upload your farm")}}</label>
						<div class="input-group">
							<input class="form-control input-lg" id="uploadFarm" type="file" name="file" describedby="helpBlock">
							<span class="input-group-btn">
								<button class="btn btn-primary btn-lg" type="submit" describedby="helpBlock" onclick="ga('send', 'event', 'saveFile', 'upload');">{{_("Upload!")}}</button>
							</span>
						</div>{% autoescape false %}
						{% set appdata_contents = {
						'windows': '<code>%APPDATA%\StardewValley\Saves</code>',
						'linux': '<code>~/.config/StardewValley/Saves</code>',
						'macos': '<code>~/.config/StardewValley/Saves</code>',
						} %}
						<span id="helpBlock" class="help-block text-center">{{_("%(stardew_valley)s save files can be found under %(appdata)s and are named after your character, plus an ID number",stardew_valley='<a href="http://stardewvalley.net">Stardew Valley</a>',appdata=appdata_contents.get(request.user_agent.platform,appdata_contents.get('windows')))}}</span>{% endautoescape %}
					</form>
				</div>
			</div>
		</div>
		{% if error %}
			<div class="row">
				<div class="col-md-12">
					<p class="text-danger text-center"><strong>{{_("Error:")}}</strong> {{ error }}</p>
				</div>
			</div>
		{% endif %}
	</div>
</div>
<div class="row center-block panel lead">	
	<div class="interiorpanel">
		<div class="col-md-12">
			<div class="hidden-xs"><h3><a href="/all" class="titlelink">{{_("Recently uploaded farms")}}</a></h3></div>
			<div class="hidden-lg hidden-md hidden-sm"><h3><a href="/all" class="titlelink">{{_("Recent uploads")}}</a></h3></div>
			{% include "recents.html" %}
			{% if recents.total > 6 %}
				<div class="text-center"><p><a href="/all">{{_("more")}}</a></p></div>
			{% endif %}
		</div>
	</div>
</div>
<div class="row center-block panel lead">	
	<div class="interiorpanel">
		<div class="col-md-12">
			<div class="adminpanelitem">
				<h3><a href="/blog" class="titlelink">{{_("Development blog")}}</a></h3>
			{% include "blogcontent.html" %}
			</div>
		</div>
	</div>
</div>

{% endblock %}