{% extends "base.html" %}
{% block title %}{{_("Login")}} - {{super()}}{% endblock %}
{% block header %}
{{ super() }}
<script src="{{url_for('static',filename='js/flashedmessages.js')}}" type="text/javascript" charset="utf-8"></script>
{% endblock %}
{% block bodycontent %}
{% include "titlebar.html" %}
{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			<div class="row center-block" id="{{loop.index0}}-container">
				<div class="col-md-12 panel text-center">
					<div class="bulletinpanel">
						<div class="bulletinclose">
							<span id="{{loop.index0}}-{%if 'cookie_controlled' in message.keys()%}scafc-{{message.cookie_controlled}}{%else%}fc{%endif%}" class="clickable"><img class="img-responsive" src="{{url_for('static',filename='css/bulletin/cross.png')}}"></span>
						</div>
						<div class="row center-block">
							<div class="col-md-12">
								{{message.message|safe}}
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	{% endif %}
{% endwith %}
			<div class="row center-block panel">
				<div class="interiorpanel">
					<div class="col-md-12">
						<h2>Sign in</h2>
						<div class="row">
							<div class=" col-lg-offset-3 col-md-offset-3 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
								<div style="padding-bottom: 1em;">
									<form action="" method="post">
										<label for="uploadFarm" class="sr-only">{{_("Log in to a user account on upload.farm")}}</label>

										<div class="form-group">
											<label for="email" class="sr-only">{{_("Email address")}}</label>
											<input class="form-control input-lg" type="text" id="email" name="email" value="{{request.form['email']}}" placeholder="{{_('email')}}">
										</div>

										<div class="form-group">
											<label for="password" class="sr-only">{{_("Password")}}</label>
											<input class="form-control input-lg" id="password" type="password" name="password" value="" placeholder="{{_('password')}}">
										</div>

										<button class="btn btn-primary btn-lg" type="submit" describedby="helpBlock">{{_("Sign in!")}}</button>
									</form>
								</div>
							</div>
						</div>
						{% if error %}
							<p class="text-danger text-center"><strong>{{_("Error:")}}</strong> {{ error }}</p>
						{% endif %}
						<p class="text-center">{{_("Need to register?")}} <a href="{{url_for('signup')}}">{{_("Sign up!")}}</a> {{_("Forgot password?")}} <a href="{{url_for('reset_password')}}">{{_("Reset it!")}}</a></p>
					</div>
				</div>
			</div>


{% endblock %}
