{% extends "base.html" %}
{% block header %}
		{{super()}}
		<!-- Place this data between the <head> tags of your website -->
		<meta name="description" content="Render of stardew.info farm plan (Stardew Valley)" />

		<!-- Schema.org markup for Google+ -->
		<meta itemprop="name" content="Farm plan render - upload.farm">
		<meta itemprop="description" content="Render of stardew.info farm plan (Stardew Valley)">
		<meta itemprop="image" content="http://upload.farm/{{image_url}}">

		<!-- Twitter Card data -->
		<meta name="twitter:card" content="http://upload.farm/{{image_url}}">
		<meta name="twitter:site" content="@laukei">
		<meta name="twitter:title" content="Farm plan render - upload.farm">
		<meta name="twitter:description" content="Render of stardew.info farm plan (Stardew Valley)">
		<meta name="twitter:creator" content="@laukei">
		<!-- Twitter summary card with large image must be at least 280x150px -->
		<meta name="twitter:image:src" content="http://upload.farm/{{image_url}}">

		<!-- Open Graph data -->
		<meta property="og:title" content="Farm plan render - upload.farm" />
		<meta property="og:type" content="profile" />
		<meta property="og:url" content="http://upload.farm/plan/{{url}}" />
		<meta property="og:image" content="http://upload.farm/{{image_url}}" />
		<meta property="og:description" content="Render of stardew.info farm plan (Stardew Valley)" />
		<meta property="og:site_name" content="upload.farm" />
<script>
var render_deleted = {% if render_deleted==True %}true;{% else %}false;{% endif %}

var interval_id;

function check_progress(){
	$.getJSON('/api/v1/render_exists', {'url':'{{ url }}' }, function(data){
		if (data['render_exists'] == true) {
			clearInterval(interval_id)
			$('.farmImg').attr('src',$('.farmImg').attr('src'));
			$('#rendering-content').css('display','inline-block');
			$('#rendering-notice').css('display','none');
		}
	});
}

$(document).ready(function() {
	if (render_deleted == true) {
		interval_id = setInterval(check_progress, 1000);
	}
});
</script>
{% endblock %}

{% block title %}Farm plan render - {{super()}}{% endblock %}
{% block bodycontent %}
{% include "titlebar.html" %}
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					{% for message in messages %}
						<div class="row center-block" id="{{loop.index0}}-container">
							<div class="col-md-12 panel text-center">
								<div class="bulletinpanel">
									<div class="bulletinclose">
										<span id="{{loop.index0}}-{%if 'cookie_controlled' in message.keys()%}scafc-{{message.cookie_controlled}}{%else%}fc{%endif%}" class="clickable"><img class="img-responsive" src="{{url_for('static',filename='css/bulletin/cross.png')}}"></span>
									</div>
									<div class="row center-block">
										<div class="col-md-12">
											{{message.message|safe}}
										</div>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				{% endif %}
			{% endwith %}
			<div class="row center-block panel">
				<a name="mainFarm"></a>
				<div class="interiorpanel">
					<div class="col-md-12 text-center">
						<h3>Farm plan in {{ season }}</h3>
						<div class="previewbox" id="rendering-content" {% if render_deleted %} style="display:none" {% endif %} >
							<div class="previewimage">
								<a href="{{ image_url }}" class="gallery" id="farm-map-image" target="_blank"><img src="{{ image_url }}" class="img-responsive farmImg" height="auto"></a>
							</div>
							{% if planner_url != None %}
							<div class="maptextbase">
								<div class="maptextinsert">
									<span class="buttoncompensation"><a class="btn-link" href="{{ planner_url }}" target='_blank'>view plan</a></span>
								</div>
							</div>
							{% endif %}
						</div>
						<div id="rendering-notice" {% if not render_deleted %} style="display:none" {% endif %}>
							<p>Plan re-rendering, will automatically load when complete</p>
						</div>
					</div>
				</div>
			</div>
			{% endblock %}