{% if recents.posts %}
<div id="recentFarms" class="row">
	{% for recent in recents.posts %}
	<div class="col-md-4 col-sm-6 text-center previewbox">
		<a href="{{ recent[0] }}">
			<div class="previewimage">
				<img src="{{ recent[5] }}" class="img-responsive farmimgpreview">
				<img src="{{ recent[4] }}" class="headimg" >
			</div>
			<div class="previewtext">
				{{ _("%(name)s, %(farmname)s Farm",name=recent[1],farmname=recent[2]) }} <br/> {{ recent[3] }}
			</div>
			{% if recent[6] %}
				<div class="previewdl">
					<img title="{{_('This farm has a downloadable savegame available')}}" src="{{url_for('static',filename='css/cpanel/dl32.png')}}">
				</div>
			{%endif%}
			{%if recent[8] == True %}
				<div class="indicate-private">
					<img title="{{_('This farm is unlisted and will not show up in searches nor on the front page except to you. It can still be viewed by people with a direct link.')}}" src="{{url_for('static',filename='css/cpanel/private.png')}}">
				</div>
			{%endif%}
		</a>
		{%if logged_in() and vote != None %}
			<div class="previewvote">
				<div class="clickable vote-ps" style="border-bottom: 0px;" id="vote-ps-{{recent[0]}}" data-url="{{recent[0]}}"></div>
				<div class="clickable vote-ng" style="border-bottom: 0px;" id="vote-ng-{{recent[0]}}" data-url="{{recent[0]}}"></div>
			</div>
		{%endif%}
	</div>
	{% endfor %}
</div>
{% endif %}