{% extends "base.html" %}
{% block header %}
    {{ super() }}
    <!-- Place this data between the <head> tags of your website -->
    <meta name="description"
          content="{{ _('Summary of %(farmname)s Farm by %(name)s (Stardew Valley)', farmname=data.farmName|censor, name=data.name|censor) }}"/>

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name"
          content="{{ _('%(farmname)s Farm Summary - upload.farm',farmname=data.farmName|censor) }}">
    <meta itemprop="description"
          content="{{ _('Summary of %(farmname)s Farm by %(name)s (Stardew Valley)', farmname=data.farmName|censor, name=data.name|censor) }}">
    <meta itemprop="image" content="http://upload.farm/{{ data.portrait_url }}">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="http://upload.farm/{{ data.portrait_url }}">
    <meta name="twitter:site" content="@laukei">
    <meta name="twitter:title"
          content="{{ _('%(farmname)s Farm Summary - upload.farm',farmname=data.farmName|censor) }}">
    <meta name="twitter:description"
          content="{{ _('Summary of %(farmname)s Farm by %(name)s (Stardew Valley)', farmname=data.farmName|censor, name=data.name|censor) }}">
    <meta name="twitter:creator" content="@laukei">
    <!-- Twitter summary card with large image must be at least 280x150px -->
    <meta name="twitter:image:src" content="http://upload.farm/{{ data.portrait_url }}">

    <!-- Open Graph data -->
    <meta property="og:title"
          content="{{ _('%(farmname)s Farm Summary - upload.farm',farmname=data.farmName|censor) }}"/>
    <meta property="og:type" content="profile"/>
    <meta property="og:url" content="http://upload.farm/{{ data.url }}"/>
    <meta property="og:image" content="http://upload.farm/{{ data.portrait_url }}"/>
    <meta property="og:image" content="http://upload.farm/{{ data.avatar_url }}"/>
    <meta property="og:image" content="http://upload.farm/{{ data.farm_url }}"/>
    <meta property="og:description"
          content="{{ _('Summary of %(farmname)s Farm by %(name)s (Stardew Valley)', farmname=data.farmName|censor, name=data.name|censor) }}"/>
    <meta property="og:site_name" content="upload.farm"/>
    <script src="{{ url_for('static', filename='js/jquery.detect_swipe.js') }}"></script>
    <script src="{{ url_for('static',filename='js/flashedmessages.js') }}" type="text/javascript"
            charset="utf-8"></script>
    <script>
      $(function () {
        $('[data-toggle="popover"]').popover();
      });
      $(function () {
        $('[data-toggle="tooltip"]').tooltip();
      });
    </script>
    {% include "votesetup.html" %}
    {% if others.keys()|length > 1 %}
        <script>
          var keyboard_control_enabled = true;
          document.addEventListener('keydown', function (e) {
            {% if 'previous' in others %}
              if (e.keyCode == 37 && keyboard_control_enabled) {
              window.location.replace('{{others['previous'].0}}');
            }
            {% endif %}
          {% if 'next' in others and 'previous' in others %}else{%endif%} {%if 'next' in others %}if
            (e.keyCode == 39 && keyboard_control_enabled) {
              window.location.replace('{{others['next'].0}}');
            }
          {%endif%}
          });
          {% if 'previous' in others %}
            $('*').on('swiperight', function () {
              if (keyboard_control_enabled) {
                window.location.replace('{{others['previous'].0}}');
              }
            });
          {%endif%}
          {%if 'next' in others %}
            $('*').on('swipeleft', function () {
              if (keyboard_control_enabled) {
                window.location.replace('{{others['next'].0}}');
              }
            });
          {%endif%}
        </script>
    {% endif %}
    <!-- includes for featherlight 1.4.1 lightbox (https://github.com/noelboss/featherlight/) -->
    <link href="//cdn.rawgit.com/noelboss/featherlight/1.4.1/release/featherlight.min.css"
          type="text/css" rel="stylesheet"/>
    <link href="//cdn.rawgit.com/noelboss/featherlight/1.4.1/release/featherlight.gallery.min.css"
          type="text/css" rel="stylesheet"/>
    <script src="{{ url_for('static',filename='js/featherlight.min.js') }}" type="text/javascript"
            charset="utf-8"></script>
    <!-- using slightly modified featherlight.min.js following fix here: https://github.com/noelboss/featherlight/issues/43#issuecomment-182295214 -->
    <script src="//cdn.rawgit.com/noelboss/featherlight/1.4.1/release/featherlight.gallery.min.js"
            type="text/javascript" charset="utf-8"></script>
    <script>
      var gallery_set =
      {{gallery_set.json|safe}}
      var current_url = null;

      function set_url() {
        current_url = window.location.pathname;
        window.location.hash = 'map';
        keyboard_control_enabled = false;
      }

      function reset_url() {
        history.pushState('', document.title, window.location.pathname + window.location.search);
        keyboard_control_enabled = true;
        if (window.location.pathname != current_url) {
          window.location = window.location;
        }
      }

      function get_img_src() {
        // console.log(gallery_set['lookup'][$('.featherlight-image').attr('src')]);
        history.pushState('', document.title, gallery_set['lookup'][$('.featherlight-image').
            attr('src')][0] + '#map');
        var box_caption_id = 'featherlight-box-caption';
        a = $('#' + box_caption_id);
        if (a.length == 0) {
          //create caption box
          $('.featherlight-content').append('<div id="' + box_caption_id + '" ></div>');
          a = $('#' + box_caption_id);
        }
        a.html('<a href="' + $('.featherlight-image').attr('src') + '" target="_blank">' +
            gallery_set['lookup'][$('.featherlight-image').attr('src')][1] + '</a>');

      }

      $(document).ready(function () {
        $.featherlight.defaults['afterOpen'] = set_url;
        $.featherlight.defaults['afterClose'] = reset_url;
        $.featherlight.defaults['afterContent'] = get_img_src;
        $.featherlight.defaults['openSpeed'] = 100;
        $.featherlight.defaults['closeSpeed'] = 100;
        var hash = window.location.hash;
        $('a.gallery').featherlightGallery({
          gallery: {
            previous: '«',
            next: '»',
            fadeIn: 0,
          },
          openSpeed: 0,
          variant: 'featherlight-gallery',
        });
        if (hash == '#map') {
          //$.featherlightGallery($('a.gallery')); //'{{data.map_url|replace('\\','\\\\')}}'
          $('#farm-map-image').trigger('click');
        }
        $('body').on('click', function (e) {

        });
      });
    </script>
{% endblock %}

{# All of the translatable text from the page #}
{% import 'text_constants.html' as text %}

{% set professions = [data.professions0,data.professions1,data.professions2,data.professions3,data.professions4,data.professions5,data.professions6,data.professions7,data.professions8,data.professions9] %}


{% block title %}
    {{ _("%(farmname)s Farm",farmname = data.farmName|censor) }} - {{ super() }}
{% endblock %}

{% block bodycontent %}
    <div class="row center-block">
        <div class="col-md-12 col-sm-12 panel">
            <div class="interiorpanel">
                {% if data.private %}
                    <div class="private-banner"><img
                            src="{{ url_for('static',filename='css/cpanel/private.png') }}">
                    </div>{% endif %}
                {% include "language.html" %}
                <div class="col-sm-2 hidden-xs text-center">
                    <a href="/"><img src="{{ url_for('static', filename='logo.png') }}"
                                     class="logo"></a>
                </div>
                <div class="col-sm-10 col-xs-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="title-container">
                                {% if logged_in() %}
                                    <div class="title-vote">
                                        <div class="clickable vote-ps" style="border-bottom: 0px;"
                                             id="vote-ps-{{ data.url }}"
                                             data-url="{{ data.url }}"></div>
                                        <div class="clickable vote-ng" style="border-bottom: 0px;"
                                             id="vote-ng-{{ data.url }}"
                                             data-url="{{ data.url }}"></div>
                                    </div>
                                {% endif %}
                                <div class="title-title">
                                    <h1 class="text-center"
                                        style="margin-bottom:0px;">{{ _("%(farmname)s Farm",farmname = data.farmName|censor) }}</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if others %}
                        <div class="row center-block">
                            <div class="col-md-12">
                                <ul class="list-inline text-center">
                                    <li>{% if 'previous' in others %}
                                        <a href="/{{ others['previous'].0 }}"
                                           title="{{ _('Go back to %(previous)s (left arrow on keyboard also works)', previous=others['previous'].1) }}"><</a>{% else %}
                                        <span style="opacity: 0.5;"><</span>{% endif %}</li>
                                    <li><b>{% if others.keys()|length > 1 %}
                                        <a href="{{ url_for('allmain',series=data.url) }}">{{ others['current'].1 }}</a>{% else %}
                                        {{ others['current'].1 }}{% endif %}</b></li>
                                    <li>{% if 'next' in others %}<a href="/{{ others['next'].0 }}"
                                                                    title="{{ _('Go forward to %(next)s (right arrow on keyboard also works)', next=others['next'].1) }}">></a>{% else %}
                                        <span style="opacity: 0.5;">></span>{% endif %}</li>
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                    {% if error or data.failed_processing %}
                        <div class="row center-block">
                            <div class="col-md-12">
                                {% if error %}
                                    <p class="text-danger text-center">
                                        <strong>{{ _('Error:') }}</strong> {{ error }}</p>
                                {% endif %}
                                {% if data.failed_processing %}
                                    <p class="text-danger text-center">
                                        <strong>{{ _('Warning:') }}</strong>
                                        <button type="button" class="btn-link" data-toggle="tooltip"
                                                data-container="body" data-placement="bottom"
                                                data-html="true" data-trigger="click"
                                                title='{{ _("This farm failed image processing, which means the savegame had unexpected contents. It might be modded, or malicious. Be aware if downloading the savegame.") }}'>
                                            This farm failed image processing!
                                        </button>
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                    <div class="col-xs-12 hidden-sm hidden-md hidden-lg text-center">
                        <p><a href="/">Go back Home</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "ads.html" %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="row center-block" id="{{ loop.index0 }}-container">
                    <div class="col-md-12 panel text-center">
                        <div class="bulletinpanel">
                            <div class="bulletinclose">
                                <span id="{{ loop.index0 }}-{% if 'cookie_controlled' in message.keys() %}scafc-
                                    {{ message.cookie_controlled }}{% else %}fc{% endif %}"
                                      class="clickable"><img class="img-responsive"
                                                             src="{{ url_for('static',filename='css/bulletin/cross.png') }}"></span>
                            </div>
                            <div class="row center-block">
                                <div class="col-md-12">
                                    {{ message.message|safe }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="row center-block">
        {% include 'profile/info_panel.html' %}
        <div class="col-md-4 col-sm-12 panel"><!--col-md-offset-1-->
            <div class="text-center">
                <div class="panel interiorpanel">
                    {% if deletable or claimable %}
                        {% include 'profile/admin_panel.html' %}
                    {% endif %}
                    <a href="#mainFarm"><img src="{{ data.farm_url }}"
                                             class="img-responsive farmImg"
                                             style="image-rendering: pixelated;" height="auto"></a>
                    {% if data.download_enabled == True %}
                        <p class="text-center">
                            <img src="{{ url_for('static',filename='css/cpanel/dl32.png') }}">
                            <button type="button" class="btn-link" data-toggle="tooltip"
                                    data-container="body" data-placement="bottom" data-html="true"
                                    data-trigger="click"
                                    title='{{ _("You use the contents of this zip at your own risk!") }}<br><a href="/dl/{{ data.url }}">{{ _("I understand, download!") }}</a>'>{{ _('download savegame') }}</button>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row center-block">
        <div class="col-md-7 col-sm-12 panel" style="padding-left:5px;padding-right:5px;">
            <div class="interiorpanel">
                <div class="col-md-12 text-center">
                    <h3>{{ _("Friendships") }}</h3>
                </div>
                {% for i in friendships %}
                    <div class="npc-container text-center">
                        <button type="button" class="btn-link npc-button" data-animation="false"
                                data-toggle="tooltip" data-container="body" data-placement="auto"
                                data-html="true"
                                title='<img src="{{ url_for('static',filename='assets/npcs/'+i.0+'.png') }}"><br>{{ text.translated_friends[i.0] }}: {{ i.1 // 250 }}/10'>
                            <div class="npc-profile npc-{{ i.1//250 }}">
                                <img class="img-responsive"
                                     src="{{ url_for('static',filename='assets/npc_icon/'+i.0+'.png') }}">
                            </div>
                        </button>
                    </div>
                {% endfor %}
            </div>
        </div>


        <div class="col-md-5 panel">
            <div class="interiorpanel text-center" style="padding-left:8px;padding-right:8px;">
                <h3>{{ _("Monster Kills") }}</h3>
                <div id="stats">
                    {% if kills %}
                        {% for kill in kills %}
                            <div class="monster-container text-center">
                                <button type="button" class="btn-link monster-button"
                                        data-animation="false" data-toggle="tooltip"
                                        data-container="body" data-placement="auto" data-html="true"
                                        title='{{ text.monster_dict[kill.0][0] }}: {{ kill.1 }}'>
                                    <div class="monster-profile npc-{{ (13 * kill.1)//kills.0.1 }}">
                                        <img class="img-responsive"
                                             src="{{ url_for('static',filename='assets/monsters/' + text.monster_dict[kill.0][1]) }}">
                                    </div>
                                </button>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p> {{ _('%(name)s has not killed any monsters yet.',name=data.name|censor) }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row center-block panel">
        <a name="mainFarm"></a>
        <div class="interiorpanel">
            <div class="col-md-12 text-center">
                <h3>{{ _("Map of %(farmname)s Farm",farmname=data.farmName|censor) }}</h3>
                <div class="previewbox">
                    <div class="previewimage">
                        {% for gallery_item in gallery_set.dict.order %}
                            {% if data.map_url == gallery_item %}
                                <a href="{{ data.map_url }}" class="gallery" id="farm-map-image"
                                   target="_blank"><img src="{{ data.map_url }}"
                                                        title="{{ _('Click to open farm gallery') }}"
                                                        class="img-responsive farmImg"
                                                        height="auto"></a>
                                <!--data-featherlight="{{data.map_url}}"-->
                            {% else %}
                                <div style="position:absolute;visibility:hidden;"><a class="gallery"
                                                                                     href="{{ gallery_item }}">hi</a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="maptextbase">
                        {% if data['imgur_json'] != None %}
                            <div class="maptextinsert">
                                <span class="buttoncompensation"><a class="btn-link"
                                                                    href="{{ data['imgur_json']['imgur_url'] }}">{{ _("view on imgur") }}</a></span>
                            </div>
                        {% endif %}
                        {% if logged_in() and session['logged_in_user'][0] == data.owner_id %}
                            <div class="maptextinsert">
                                <form action="/{{ data.url }}/imgur" method="post">
                                    <button type="submit" name="strangerdanger"
                                            value="strangerdanger" class="btn-link disabled">
                                        {% if data['imgur_json'] != None %}
                                            {{ _("reupload to imgur") }}{% else %}
                                            {{ _("upload to imgur") }}{% endif %}
                                    </button>
                                </form>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}