body {
	background: #c0ffe4;
	background: linear-gradient(#01366d,#c0ffe4);
	background-attachment: fixed; 
	padding-top: 20px;
}

h1, h3 {
	font-family: 'Architects Daughter', cursive;
	font-size: 32px;
}

h1 {
	font-size: 56px;
}

.panel {
	background: #ffd789;
	border: solid 5px #e27a3e;
	padding-bottom: 20px;
	border-radius: 10px;
}

p, li {
	font-family: 'VT323';
	font-size: 20pt;
	margin: 0;
}

.playerAvatar {
	image-rendering: pixelated;
	background-color: #FFFFFF;
	border: solid 2px #000000;
	border-radius: 5px;
	padding: 5px;
	width: 150px;
}

.img-responsive{
	margin: 0 auto;
}

.farmImg {
	image-rendering: pixelated;
	border: solid 2px #000000;
}

.subsection {

}

.farmimgpreview {
	image-rendering: pixelated;
	border: solid 2px #000000;
}

.previewbox {
	padding: 5px;
}

.headimg {
	image-rendering: pixelated;
	height: 85%;
	position: absolute;
	left: 0%;
	bottom: 0%;
}

.previewimage {
	position:relative;	
}

.previewtext {
	position:absolute;
	font-family: 'VT323';
	font-size: 20pt;
	left:2%;
	bottom:2%;
	width:96%;
	background-color: rgba(0,0,0,0.7);
	padding: 0px;
	color: #FFFFFF;
}

.logo {
	image-rendering: pixelated;
	width: 96px;
	height: auto;
}