body {
	background: #c0ffe4 url(bg.png) no-repeat fixed center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-attachment: fixed; 
	padding-top: 20px;
	line-height: 2em;
}

h1, h2, h3, h4 {
	font-family: 'Architects Daughter', cursive;
	/*font-size: 32px;*/
	margin-top: 0px;
}

h4 {
	font-size:24px;
}

h3 {
	font-size: 32px;
}

h2 {
	font-size: 44px;
}

h1 {
	font-size: 56px;
}

.panel, .tooltip, .popover {
	padding:5px;
	margin-bottom: 0px;
	background: none;
	box-shadow: none;
}

.popover {
	border: none;
	padding: 0px;
}

.popover.right>.arrow {
	display: none;
}
.popover.right {
	margin-left: 0px;
}

.tooltip.in {
	opacity: 1;
	filter: alpha(opacity=100);
}

.interiorpanel {
	border-style: solid;
	border-width: 12px 12px 12px 12px;
	-moz-border-image: url(textBox.png) 30 30 30 30 stretch;
	-webkit-border-image: url(textBox.png) 30 30 30 30 stretch;
	-o-border-image: url(textBox.png) 30 30 30 30 stretch;
	border-image: url(textBox.png) 16 16 16 16 fill stretch;
	box-shadow: -5px 5px 10px 5px rgba(0,0,0,0.2); 
	padding-bottom: 15px;
	overflow:hidden;
	padding: 15px;
	border-radius: 30px;
}

.tooltip-inner, .popover-content, .popover-title {
	border-style: solid;
	border-width: 12px 12px 12px 12px;
	-moz-border-image: url(popBox.png) 30 30 30 30 stretch;
	-webkit-border-image: url(popBox.png) 30 30 30 30 stretch;
	-o-border-image: url(popBox.png) 30 30 30 30 stretch;
	border-image: url(popBox.png) 16 16 16 16 fill stretch;
	box-shadow: -5px 5px 10px 5px rgba(0,0,0,0.2); 
	/*padding-bottom: 15px;*/
	overflow:hidden;
	padding: 4px;
	border-radius: 30px;
}

.popover-content, .tooltip-inner {
	border-top-width: 0px;
	padding: 4px;
	-moz-border-image-source: url(textBox.png);
	-webkit-border-image-source: url(textBox.png);
	-o-border-image-source: url(textBox.png);
	border-image-source: url(textBox.png);
}

.tooltip-inner {
	border-top-width: 10px;
}

.pip {
	box-shadow: -3px 3px 1px #555555;
}

.pipdiv {
	display: inline;
	font-size: 15px;
}

.pipdivhalf {
	float:left;
	padding-left:5px;
	min-width:30px;
}

p, li, dl, .pixeltext, .tooltip-inner, .popover-content, .popover-title {
	line-height: 1;
	font-family: 'VT323';
	font-size: 20pt;
	margin: 0;
	color: #333;
}

.help-block, .smallpixeltext {
	font-family: 'VT323';
	font-size: 16pt;
}

dt, dd {
	line-height: 1;
	font-weight: normal;
}

.avatarPanel {
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	width: 200px;

	border-style: solid;
	border-width: 21px 21px 21px 21px;
	-moz-border-image: url(frame.png) 30 30 30 30 stretch;
	-webkit-border-image: url(frame.png) 30 30 30 30 stretch;
	-o-border-image: url(frame.png) 30 30 30 30 stretch;
	border-image: url(frame.png) 30 30 30 30 stretch;
	z-index: 2;
}

.playerAvatar {
	width: calc(100% - 1px);
	padding: 20px;
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	position: relative;
	top: 0;
	background-color: #ffffff;
}

.portraitPanel {
	display: inline-block;
	border-style: solid;
	border-width: 20px 21px 21px 20px;
	-moz-border-image: url(frame.png) 30 32 32 31 stretch;
	-webkit-border-image: url(frame.png) 30 32 32 31 stretch;
	-o-border-image: url(frame.png) 30 32 32 31 stretch;
	border-image: url(frame.png) 30 32 32 31 fill stretch;*/
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	width: 200px;

	border-style: solid;
	border-width: 21px 21px 21px 21px;
	-moz-border-image: url(frame.png) 30 30 30 30 stretch;
	-webkit-border-image: url(frame.png) 30 30 30 30 stretch;
	-o-border-image: url(frame.png) 30 30 30 30 stretch;
	border-image: url(frame.png) 30 30 30 30 stretch;
	z-index: 2;
}

.container {
	padding-left: 0px;
	padding-right: 0px;
}

.playerPortrait {
/*	width: calc(100% - 1px);
	z-index: 100;
	image-rendering: pixelated;
	padding: 20px;
	background-color: #ffedd1;*/
	width: calc(100% - 1px);
	padding: 20px;
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	position: relative;
	top: 0;
	background-color: #ffffff;
}

.img-responsive{
	margin: 0 auto;
}

.farmImg {
	image-rendering: pixelated;
	border: solid 2px #000000;
}

.farmimgpreview {
	image-rendering: pixelated;
	border-style: solid;
	border-width: 20px 21px 21px 20px;
	-moz-border-image: url(frame.png) 30 32 32 31 stretch;
	-webkit-border-image: url(frame.png) 30 32 32 31 stretch;
	-o-border-image: url(frame.png) 30 32 32 31 stretch;
	border-image: url(frame.png) 30 32 32 31 fill stretch;
}

.previewbox {
	margin: 0px;
}

.headimg {
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	height: 80%;
	position: absolute;
	left: 8%;
	bottom: 5%;
}

.previewimage {
	position:relative;	
}

.previewtext {
	position:absolute;
	font-family: 'VT323';
	font-size: 16pt;
	bottom:18px;
	left: 35px;
	width: calc(100% - 30px - 41px);
	background-color: rgba(0,0,0,0.7);
	padding: 0px;
	color: #FFFFFF;
	overflow:hidden;
}

.logo {
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	width: 150px;
	height: auto;
}

.col-sm-6.previewbox {
	margin-bottom: 15px;
}

body {
	line-height: 1;
}

.blogpost {
	font-family: arial;
	font-size: 14px;
	padding-bottom: 1.5em;
}

.adminpanelitem {
	max-height: 400px;
	overflow-y: auto;
	overflow-x: hidden;

}

.clickable {
	cursor:pointer;
	border-bottom:2px dotted #337ab7;
}

.nav li a {
	margin: 0 10px;
	color: #000000;

	border-radius: 30px;
	border-style: solid;
	border-width: 21px 21px 21px 21px;
	-moz-border-image: url(textBox.png) 30 30 30 30 stretch;
	-webkit-border-image: url(textBox.png) 30 30 30 30 stretch;
	-o-border-image: url(textBox.png) 30 30 30 30 stretch;
	border-image: url(textBox.png) 30 30 30 30 fill stretch;
}

.nav li a:active {
	background-color: #550000;
}

.hiddenblog {
	opacity: 0.5;
}

.titlelink {
	color: #101010;
}

.titlelink:hover {
	text-decoration: none;
	color: #101010;
}