body {
    background: #84a4f0 url(bg.png) no-repeat fixed center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
    padding-top: 20px;
    line-height: 2em;
}

h1, h2, h3, h4 {
    font-family: 'Architects Daughter', cursive;
    /*font-size: 32px;*/
    margin-top: 0px;
}

h4 {
    font-size: 24px;
}

h3 {
    font-size: 32px;
}

h2 {
    font-size: 44px;
}

h1 {
    font-size: 56px;
}

.panel, .tooltip, .popover {
    padding: 5px;
    margin-bottom: 0px;
    background: none;
    box-shadow: none;
}

.popover {
    border: none;
    padding: 0px;
}

.popover.right > .arrow {
    display: none;
}

.popover.right {
    margin-left: 0px;
}

.tooltip.in {
    opacity: 1;
    filter: alpha(opacity=100);
}

.interiorpanel {
    border-style: solid;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    border-width: 12px 12px 12px 12px;
    -moz-border-image: url(textBox.png) 16 16 16 16 stretch;
    -webkit-border-image: url(textBox.png) 16 16 16 16 stretch;
    -o-border-image: url(textBox.png) 16 16 16 16 stretch;
    border-image: url(textBox.png) 16 16 16 16 fill stretch;
    box-shadow: -5px 5px 10px 5px rgba(0, 0, 0, 0.2);
    padding-bottom: 15px;
    overflow: hidden;
    padding: 15px;
    border-radius: 30px;
}

.bulletinpanel {
    border-style: solid;
    border-width: 16px 16px 16px 16px;
    -moz-border-image: url(bulletin/paper.png) 30 30 30 30 stretch;
    -webkit-border-image: url(bulletin/paper.png) 30 30 30 30 stretch;
    -o-border-image: url(bulletin/paper.png) 30 30 30 30 stretch;
    border-image: url(bulletin/paper.png) 32 32 32 32 fill stretch;
    /*box-shadow: -5px 5px 10px 5px rgba(0,0,0,0.2); */
    padding-bottom: 15px;
    overflow: hidden;
    padding: 0px;
    /*border-radius: 30px;*/
}

.bulletinclose {
    position: absolute;
    top: 5px;
    height: auto;
    right: 0px;
    width: 2em;
    height: 2em;
    background-color: rgba(0, 0, 0, 0.0);
    padding: 0px;
    color: #FFFFFF;
    overflow: hidden;
}

.tooltip-inner, .popover-content, .popover-title {
    border-style: solid;
    border-width: 12px 12px 12px 12px;
    -moz-border-image: url(popBox.png) 16 16 16 16 stretch;
    -webkit-border-image: url(popBox.png) 16 16 16 16 stretch;
    -o-border-image: url(popBox.png) 16 16 16 16 stretch;
    border-image: url(popBox.png) 16 16 16 16 fill stretch;
    box-shadow: -5px 5px 10px 5px rgba(0, 0, 0, 0.2);
    /*padding-bottom: 15px;*/
    overflow: hidden;
    padding: 4px;
    border-radius: 30px;
}

.popover-content, .tooltip-inner {
    border-top-width: 0px;
    padding: 4px;
    -moz-border-image-source: url(textBox.png);
    -webkit-border-image-source: url(textBox.png);
    -o-border-image-source: url(textBox.png);
    border-image-source: url(textBox.png);
}

.tooltip-inner {
    border-top-width: 10px;
    max-width: 300px;
}

.pip {
    box-shadow: -3px 3px 1px #555555;
}

.pipdiv {
    display: inline;
    font-size: 15px;
}

.pipdivhalf {
    float: left;
    padding-left: 5px;
    min-width: 30px;
}

p, li, dl, .pixeltext, .tooltip-inner, .popover-content, .popover-title {
    line-height: 1;
    font-family: 'VT323', 'FZXS15';
    font-size: 20pt;
    margin: 0;
    color: #333;
}

.help-block, .smallpixeltext {
    font-family: 'VT323', 'FZXS15';
    font-size: 16pt;
}

dt, dd {
    line-height: 1;
    font-weight: normal;
}

.avatarPanel {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    width: 200px;

    border-style: solid;
    border-width: 21px 21px 21px 21px;
    -moz-border-image: url(frame.png) 28 32 28 32 stretch;
    -webkit-border-image: url(frame.png) 28 32 28 32 stretch;
    -o-border-image: url(frame.png) 28 32 28 32 stretch;
    border-image: url(frame.png) 28 32 28 32 stretch;
    z-index: 2;
}

.playerAvatar {
    width: calc(100% - 1px);
    padding: 20px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    position: relative;
    top: 0;
    background-color: #ffffff;
}

.portraitPanel {
    display: inline-block;
    border-style: solid;
    border-width: 20px 21px 21px 20px;
    -moz-border-image: url(frame.png) 30 32 32 31 stretch;
    -webkit-border-image: url(frame.png) 30 32 32 31 stretch;
    -o-border-image: url(frame.png) 30 32 32 31 stretch;
    border-image: url(frame.png) 30 32 32 31 fill stretch;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    width: 200px;
    min-width: 250px;

    border-style: solid;
    border-width: 21px 21px 21px 21px;
    -moz-border-image: url(frame.png) 30 30 30 30 stretch;
    -webkit-border-image: url(frame.png) 30 30 30 30 stretch;
    -o-border-image: url(frame.png) 30 30 30 30 stretch;
    border-image: url(frame.png) 30 30 30 30 stretch;
    z-index: 2;
}

.container {
    padding-left: 0px;
    padding-right: 0px;
}

.playerPortrait {
    /*	width: calc(100% - 1px);
        z-index: 100;
        image-rendering: pixelated;
        padding: 20px;
        background-color: #ffedd1;*/
    width: calc(100% - 1px);
    padding: 20px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    position: relative;
    top: 0;
    background-color: #ffffff;
}

.img-responsive {
    margin: 0 auto;
}

.farmImg {
    border: solid 2px #000000;
}

.farmimgpreview {
    border-style: solid;
    border-width: 20px 21px 21px 20px;
    -moz-border-image: url(frame.png) 28 32 28 32 stretch;
    -webkit-border-image: url(frame.png) 28 32 28 32 stretch;
    -o-border-image: url(frame.png) 28 32 28 32 stretch;
    border-image: url(frame.png) 28 32 28 32 fill stretch;
}

.previewbox {
    margin: 0px;
}

.headimg {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    height: 80%;
    position: absolute;
    left: 8%;
    bottom: 5%;
}

.previewimage {
    position: relative;
    overflow: hidden;
}

.previewtext {
    position: absolute;
    font-family: 'VT323', 'FZXS15';
    font-size: 16pt;
    bottom: 21px;
    left: 35px;
    width: calc(100% - 30px - 41px);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0px;
    color: #FFFFFF;
    overflow: hidden;
}

.previewvote {
    position: absolute;
    right: 36px;
    top: 20px;
    background-color: rgba(0, 0, 0, 0.75);
}

.previewdl {
    position: absolute;
    left: 37px;
    top: 22px;
}

.maptextbase {
    position: absolute;
    font-family: 'VT323', 'FZXS15';
    font-size: 16pt;
    top: 46px;
    height: auto;
    left: 35px;
    width: auto;
    background-color: rgba(0, 0, 0, 0.0);
    padding: 0px;
    color: #FFFFFF;
    overflow: hidden;
}

.maptextinsert {
    float: left;
    display: inline;
    font-family: 'VT323', 'FZXS15';
    font-size: 16pt;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 0px;
    height: 30px;
    color: #FFFFFF;
    overflow: hidden;
    margin-right: 10px;
}

.npc-container {
    float: left;
    display: inline;
    position: relative;
}

.npc-profile {
    width: 64px;
    border-style: solid;
    background-color: #ffffff;
    border-width: 2px;
    border-color: #000000;
    margin: 1px 0px;
}

.npc-relationship {
    position: absolute;
    font-family: 'VT323', 'FZXS15';
    font-size: 64px;
    top: 0px;
    height: 100%;
    left: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.0);
    padding: 2%;
    color: #ffffff;
    overflow: hidden;
    text-shadow: -2px 2px #000000;
}

.npc-profile img {
    width: 100%;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
}

.npc-button {
    padding: 0px;
}

.npc-0 {
    background-color: #ffffff;
}

.npc-1 {
    background-color: #fffcfc;
}

.npc-2 {
    background-color: #ffe7e7;
}

.npc-3 {
    background-color: #ffd2d2;
}

.npc-4 {
    background-color: #ffbdbd;
}

.npc-5 {
    background-color: #ffa8a8;
}

.npc-6 {
    background-color: #ff9393;
}

.npc-7 {
    background-color: #ff7e7e;
}

.npc-8 {
    background-color: #ff6969;
}

.npc-9 {
    background-color: #ff5454;
}

.npc-10 {
    background-color: #ff3f3f;
}

.npc-11 {
    background-color: #ff2a2a;
}

.npc-12 {
    background-color: #ff1515;
}

.npc-13 {
    background-color: #ff0000;
}

.monster-container {
    float: left;
    display: inline;
    position: relative;
}

.monster-profile {
    width: 64px;
    height: 64px;
    border-style: solid;
    /*background-color: #ffffff;*/
    border-width: 2px;
    border-color: #000000;
    margin: 1px;
    overflow: hidden;
    padding: 2px;
}

.monster-text {
    position: absolute;
    font-family: 'VT323', 'FZXS15';
    font-size: 64px;
    top: 0px;
    height: 100%;
    left: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.0);
    padding: 2%;
    color: #ffffff;
    overflow: hidden;
    text-shadow: -2px 2px #000000;
}

.monster-profile img {
    width: 100%;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
}

.monster-button {
    padding: 0px;
}

.maptextinsert a {
    color: #FFFFFF;
}

.maptextinsert button {
    color: #FFFFFF;;
}

.maptextinsert :hover {
    color: #FFFFFF;
}

.buttoncompensation {
    display: inline-block;
    padding: 3px;
    padding-right: 7px;
    padding-left: 5px;
}

.col-sm-6.previewbox {
    margin-bottom: 15px;
}

body {
    line-height: 1;
    padding-top: 0px;
}

.blogpost {
    font-family: arial;
    font-size: 14px;
    padding-bottom: 1.5em;
}

.adminpanelitem {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;

}

.clickable {
    cursor: pointer;
    border-bottom: 2px dotted #337ab7;
}

.noevents {
    pointer-events: none;
}

.hiddenblog {
    opacity: 0.5;
}

.titlelink {
    color: #101010;
}

.titlelink:hover {
    text-decoration: none;
    color: #101010;
}

.logo {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    width: 150px;
    height: auto;
}

.titleimgcontainer {
    display: inline-block;
}

dl.faq dt {
    font-weight: bold;
}

dl.faq dd {
    padding-bottom: 1em;
}

code {
    white-space: pre;
    word-break: normal;
    word-wrap: normal;
}

p.cc_message {
    color: #ffffff !important;
    font-family: sans-serif;
}

.voteimg {
    width: 32px;
}

.title-container {
    text-align: center;
    margin: 0px auto;
    width: 100%;
}

.title-title {
    display: inline-block;
}

.title-vote {
    display: inline-block;
}

.browsebutton {
    padding: 2px 12px;
    line-height: 1;
    font-family: 'VT323', 'FZXS15';
    font-size: 20pt;
    margin: 0;
}

.browsetext {
    padding: 1px 0px;
    margin: 2px 0px;
}

/*begin stuff borrowed from featherlight gallery example*/
.featherlight-gallery {
    background: rgba(100, 100, 100, 0.5);
}

.featherlight-gallery .featherlight-content {
    background: #000;
}

.featherlight-gallery .featherlight-next:hover,
.featherlight-gallery .featherlight-previous:hover {
    background: rgba(0, 0, 0, 0.5);
}

.featherlight-gallery .featherlight-next:hover span,
.featherlight-gallery .featherlight-previous:hover span {
    font-size: 25px;
    line-height: 25px;
    margin-top: -12.5px;
    color: #fff;
}

.featherlight-gallery .featherlight-close {
    background: transparent;
    color: #fff;
    font-size: 1.2em;
}

.featherlight-gallery.featherlight-last-slide .featherlight-next,
.featherlight-gallery.featherlight-first-slide .featherlight-previous {
    display: none;
}

/*end stuff borrowed from gallery example*/

@media all {
    #featherlight-box-caption {
        position: absolute;
        font-family: 'VT323', 'FZXS15';
        font-size: 16pt;
        top: 25px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(0, 0, 0, 0.7);
        padding: 0px 5px;
        color: #FFFFFF;
        overflow: hidden;
    }

    #featherlight-box-caption a {
        color: #FFFFFF;
    }
}

@media only screen and (max-width: 1024px) {
    #featherlight-box-caption {
        top: 10px;
    }
}

.indicate-private {
    position: absolute;
    top: 6px;
    left: 23px;
}

.indicate-private img {
    transform: rotate(-90deg);
    width: 140px;
    height: 140px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
}

.private-banner {
    position: absolute;
    top: 16px;
    right: 17px;
}

.private-banner img {
    width: 140px;
    height: 140px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
}

.cpanel-object {
    padding: 2px 1px;
}

.cpanel-object:hover {
    opacity: 1.0;
}

.cpanel-state-on {
    opacity: 1.0;
}

.cpanel-state-off {
    opacity: 0.5;
}

.language-menu {
    min-width: 24px;
}

.languages-button {
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 1000;
}

@media (max-width: 420px) {
    .uploadfarmtitle {
        font-size: 40px;
    }
}

.menu-button-12px:hover {
    opacity: 1;
}

.menu-button-12px {
    opacity: 0.65;
}

/* Info Panel Styles */
.info-name {
    text-align: left;
    padding-left: 30px;
}

.info-panel {
    display: flex;
    flex-direction: row;
    position: relative;
}

.info--navigation {
    position: absolute;
    color: #333333;
    display: flex;
    flex-direction: column;

    flex-shrink: 1;
    flex-grow: 1;
}

.info--navigation li {
    width: 160px;
    margin-left: -55px;

    border-radius: 30px;
    border-style: solid;
    border-width: 21px 21px 21px 21px;

    -moz-border-image: url(textBox.png) 30 30 30 30 stretch;
    -webkit-border-image: url(textBox.png) 30 30 30 30 stretch;
    -o-border-image: url(textBox.png) 30 30 30 30 stretch;
    border-image: url(textBox.png) 30 30 30 30 fill stretch;

    transition: margin-left 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.info--navigation li.active {
    margin-left: -150px;
}

.info--navigation li:hover {
    margin-left: -150px;
    background: transparent;
}

.info--navigation.info--navigation a {
    text-align: right;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #333;
}

.info--navigation.info--navigation a:hover, .info--navigation.info--navigation a:focus {
    background: transparent;
    image-rendering: pixelated;
    outline: none;
}

.nav--icon {
    width: 30px;
    margin-right: 10px;
}

.info--details {
    flex-grow: 1;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: initial;
}

.info--body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.info--body .avatarPanel {
    margin: 0 auto 0 75px;
}

.dl-horizontal {
    margin: 0 auto 0 0;
}

.tab-content {
    width: 100%;
}

/* Player Selection */

.player-select {
    overflow: visible;
    margin-bottom: 10px;
}

.player-select-image {
    height: 64px;
    width: 32px;
}

.admin-panel {
    margin-bottom: 10px;
}

/* Player Select Dropdown */

#dropdownMenu1 {
    min-width: 250px;
}

.selected-player .open > .dropdown-toggle.btn-default  {
    background-color: red !important;
}

.selected-player .player-select-item {
    padding: 0 20px;
}

.selected-player .player-select-item:hover {
    cursor: pointer;
    background: #EEE;
}

.selected-player .dropdown-toggle {
    background: transparent;
    padding: 0 25px;
    font-size: 56px;
    border: none;
    font-family: 'Architects Daughter', cursive;
}

.selected-player.open .dropdown-toggle {
    background-color: transparent;
}

.selected-player.open .dropdown-toggle:hover {
    background-color: transparent;
}

.selected-player.open .dropdown-toggle:active {
    background-color: transparent;
}

.selected-player.open .dropdown-toggle:focus {
    background-color: transparent;
}

.selected-player .dropdown-toggle:focus {
    background-color: transparent;
}

.selected-player .dropdown-toggle:active {
    background-color: transparent;
}

.selected-player .dropdown-toggle:active {
    box-shadow: none;
}

.selected-player .dropdown-menu img {
    height: 64px;
}

.selected-player .dropdown-header {
    font-size: 20pt;
}


/* Media Queries */

@media (max-width: 1500px) {

    .info-panel {
        margin-top: 65px;
    }

    .info--navigation {
        margin: -33px 0 0 0;
        flex-direction: row;
    }

    .info--navigation li {
        margin: 8px 0 0 0;
    }

    .info--navigation li.active, .info--navigation li:hover {
        margin: 0;
    }
}

@media (max-width: 767px) {
    .info-panel .avatarPanel {
        margin-left: 0;
        margin-right: 30px;
        flex-shrink: 1;
    }

    .dl-horizontal {
        display: flex;
        flex-direction: column;
    }

    .dl-horizontal > div {
        display: flex;
    }

    dt {
        padding-right: 25px;
    }

    dt::after {
        content: ':';
    }
    dd {
        margin-left: auto;
    }
}

@media (max-width: 550px) {

    .info--body {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .dl-horizontal {
        margin: 0 auto 25px;
    }

    .info-panel .info-name {
        padding-left: 0;
    }

    .info--body .avatarPanel {
        margin: 0 auto 25px;
    }

    .info--navigation li {
        width: 70px;
    }

    .info--navigation.info--navigation a {
        justify-content: center;
    }

    .info--navigation li a img {
        margin: 0;
    }

    .info--navigation li a span {
        display: none;
    }
}