{% extends "base.html" %}
{% block title %}Blog - {{super()}}{% endblock %}
{%block bodycontent %}
{% include "titlebar.html" %}
<div class="row center-block panel">
	<div class="interiorpanel">
		<h2><a href="{{ url_for('blog.index') }}" class="titlelink mainTitle">Development blog</a></h2>
		{% include "blogcontent.html" %}
		<div class="row">
			<div class="col-md-12 text-center">
				<p>
				{% if request.args.get('p')!=None and request.args.get('p')|int>1 %}
				<a href="/blog?p=0">newest</a>
				{% else %}
				<span class="text-muted">newest</span>
				{% endif %}
				{% if request.args.get('p')!=None and request.args.get('p')|int>0 %}
				<a href="/blog?p={{request.args.get('p')|int-1}}">previous</a>
				{% else %}
				<span class="text-muted">previous</span>
				{% endif %}
				{% if request.args.get('p')!=None %}
					{{request.args.get('p')}}
				{%else%}
					0
				{%endif%}
				{% if offset + blogposts.posts|length < blogposts.total %}
				<a href="/blog?p={%if request.args.get('p')!= None%}{{request.args.get('p')|int+1}}{%else%}{{1}}{%endif%}">next</a>
				{% else %}
				<span class="text-muted">next</span>
				{% endif %}
				{% if offset + (blogposts.posts|length * 2) < blogposts.total %}
				<a href="/blog?p={{(blogposts.total/blogposts.posts|length)|round(0,'ceil')|int - 1}}">oldest</a>
				{% else %}
				<span class="text-muted">oldest</span>
				{% endif %}
				</p>
			</div>
		</div>
	</div>
</div>


{% endblock %}