{% extends "base.html" %}
{% block title %}SDV Summary{% endblock %}
{%block bodycontent %}
{% include "titlebar.html" %}
<div class="row center-block panel">
	<div class="interiorpanel">
		<h3><a href="/all" class="titlelink">All farms</a></h3>
		{% include "recents.html" %}
		<div class="row">
			<div class="col-md-12 text-center">
				{% if request.args.get('p')!=None and request.args.get('p')|int>0 %}
				<a href="/all?p={{request.args.get('p')|int-1}}">previous</a>
				{% endif %}
				{% if offset + recents.posts|length < recents.total %}
				<a href="/all?p={%if request.args.get('p')!= None%}{{request.args.get('p')|int+1}}{%else%}{{1}}{%endif%}">next</a>
				{% endif %}
			</div>
		</div>
	</div>
</div>

{% endblock %}