<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}SDV Summary{% endblock %}</title>
		{% block header %}
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- Load Style Sheets -->
		<link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet" media="screen">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

		<!-- Load External Fonts -->
		<link href='https://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>

		<!-- Load JS libraries -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
		<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

		<!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
		<script type="text/javascript">
		    window.cookieconsent_options = {"message":"This website uses cookies when you upload a savegame to determine ownership","dismiss":"Okay!","learnMore":"More info","link":"","theme":"dark-bottom"};
		</script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
		<!-- End Cookie Consent plugin -->
		
		{% endblock %}
		{% include "analytics.html" %}
	</head>
	<body>
		<div class="container">
			{%block bodycontent %}

			{% endblock %}
			<div class="text-center">
				<p class="text-muted">Took {{ processtime }} seconds to process request | source at <a href="https://github.com/Sketchy502/SDV-Summary">GitHub</a><br>All Stardew Valley assets copyright <a href="http://twitter.com/concernedape">Concerned Ape</a></p>
			</div>
		</div>
	</body>
</html>