{% extends "base.html" %}
{% block title %}SDV Summary Blog{% endblock %}
{%block bodycontent %}
{% include "titlebar.html" %}
<div class="row center-block panel">
	<div class="interiorpanel">
		<h2><a href="/blog" class="titlelink mainTitle">Development blog</a></h2>
		{% include "blogcontent.html" %}
		<div class="row">
			<div class="col-md-12 text-center">
				{% if request.args.get('p')!=None and request.args.get('p')|int>0 %}
				<a href="/blog?p={{request.args.get('p')|int-1}}">previous</a>
				{% endif %}
				{% if offset + blogposts.posts|length < blogposts.total %}
				<a href="/blog?p={%if request.args.get('p')!= None%}{{request.args.get('p')|int+1}}{%else%}{{1}}{%endif%}">next</a>
				{% endif %}
			</div>
		</div>
	</div>
</div>


{% endblock %}