{% extends "base.html" %}
{% block title %}SDV Summary Blog{% endblock %}
{%block bodycontent %}
<div class="row center-block panel">
	<div class="interiorpanel">
		<div class="col-md-2 col-sm-12 text-center">
						<a href="/">
								<img src="{{url_for('static', filename='favicon.png')}}" class="logo">
						</a>
		</div>
		<div class="col-md-10 col-sm-12">
			<h1 class="text-center">Stardew Valley Summary</h1>
		</div>
	</div>
</div>
<div class="row center-block panel">
	<div class="interiorpanel">
		<h3><a href="/blog">Development blog</a></h3>
		{% include "blogcontent.html" %}
		<div class="row">
			<div class="col-md-12 text-center">
				{% if request.args.get('p')!=None and request.args.get('p')|int>0 %}
				<a href="/blog?p={{request.args.get('p')|int-1}}">previous</a>
				{% endif %}
				{% if offset + blogposts.posts|length < blogposts.total %}
				<a href="/blog?p={%if request.args.get('p')!= None%}{{request.args.get('p')|int+1}}{%else%}{{1}}{%endif%}">next</a>
				{% endif %}
			</div>
		</div>
	</div>
</div>

{% endblock %}