{% extends "base.html" %}
{% block title %}FAQ - {{super()}}{% endblock %}
{%block bodycontent %}
{% include "titlebar.html" %}
<div class="row center-block panel">
	<div class="interiorpanel">
		<div class="hidden-xs"><h2>Frequently Asked Questions</h2></div>
		<div class="hidden-sm hidden-md hidden-lg"><h2>FAQ</h2></div>
		<dl class="faq">
		<dt>Where do I find the savegame?</dt>
		<dd>Savegames are in <code>%APPDATA%\StardewValley\Saves</code>. This can be pasted into the file upload box to find the correct folder. Within this are subfolders for individual savegames. The file you should upload is named after your player (i.e. not named SaveGameInfo).</dd>
		<dt>Can I upload multiple farms from the same playthrough?</dt>
		<dd>Yes. Other uploads  are automatically linked to below the farm name. You can also move between these farms using left and right keyboard keys.</dd>
		<dt>I can't find my farm!</dt>
		<dd>Re-upload your farm and the site will redirect you to the existing data, and re-set your ownership.</dd>
		<dt><a name="savegame"></a>How do I enable savegame downloads?</dt>
		<dd>If you own the page, beneath the minimap is a button to enable savegame downloads. This enables them for <em>all</em> users of the site and for <em>all</em> linked farms, and is irreversible unless all linked farms are deleted. In order to prevent another user from exploiting the upload mechanism and taking control of your uploads, you must set a passcode.
		<dt>How can I delete my upload(s)?</dt>
		<dd>When you upload a savegame a cookie is set to indicate ownership. Below the farm name should be a "delete this page" button. If you have uploaded multiple farms from the same playthrough you will also have an option to delete "all for this farm". Both ask for confirmation before deleting. If you have enabled savegame download, you will also need to input the passcode you set when you enabled this.</dd>
		<dt>How do I use downloaded savegames?</dt>
		<dd>Saves go in <code>%APPDATA%\StardewValley\Saves</code> where you can place the extracted folder and contents. This is normally <br>C:\Users\[username]\AppData\Roaming\StardewValley\Saves.</dd>
		</dl>
	</div>
</div>
{% endblock %}