{% extends "base.html" %}
{% block title %}SDV Summary{% endblock %}
{% block header %}
{{ super() }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/ajaxRequest.js') }}"></script>{% endblock %}
{%block bodycontent %}
<div class="row center-block panel">
	<div class="interiorpanel">
		<div class="col-md-2 col-sm-12 text-center">
			<img src="{{url_for('static', filename='favicon.png')}}" class="logo">
		</div>
		<div class="col-md-10 col-sm-12">
			<h1 class="text-center">Stardew Valley Summary</h1>
		</div>
	</div>
</div>
<div class="row center-block panel">
	<div class="interiorpanel">
		
	<!--<div class="row">
		<p style="width: 80%; margin: 0 auto;">This site generates a profile page from your Stardew Valley savegame. It automatically links uploads from different stages.</p>
	</div>-->
		<h3>Upload your farm</h3>
			<div class="row">
			<form enctype="multipart/form-data" action="" method="post">
				<div class="col-sm-10 col-xs-9">
					<input class="form-control input-lg" type="file" name="file" value="">
				</div>
				<div class="col-sm-1 col-xs-1">
					<input class="btn btn-primary btn-lg" type="submit" value="Process">
				</div>
			</form>
			</div>
			<div class="row" style="padding-top: 1em;">
			<p class="text-center" style="width: 80%; margin: 0 auto;"><a href="http://stardewvalley.net">Stardew Valley</a> save files can be found under <code>%APPDATA%\StardewValley\Saves</code> and are named after your character, plus an ID number</p>
			{% if error %}
			<p class="text-danger text-center"><strong>Error:</strong> {{ error }}</p>
			{% endif %}
		</div>
	</div>
</div>
<div class="row center-block panel lead">	
	<div class="interiorpanel">
		<div class="col-md-12">
			<div class="row">	
				<div class="col-md-12">
					<h3>Recently uploaded farms</h3>
				</div>
			</div>
			{% include "recents.html" %}
		</div>
	</div>
</div>
<div class="row center-block panel lead">	
	<div class="interiorpanel">
		<div class="col-md-12">
			<div class="adminpanelitem">
				<h3><a href="/blog">Development blog</a></h3>
			{% include "blogcontent.html" %}
			</div>
		</div>
	</div>
</div>

{% endblock %}