<!DOCTYPE html>
<html>
	<head>
		<title>SDV Summary</title>
		<link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<div class="container">
			<h1 class="text-center">{{ data.farmName }} Farm</h1>
			<div class="row center-block">
				<h3>Player</h3>
				<div class="col-sm-10 col-xs-10">
					<p>Name: {{ data.name }}</p>
					<p>Wealth: {{ data.money }}</p>
				</div>
				<div class="col-sm-2 col-xs-2">
					<img src="{{ data.avatar_url }}" style="image-rendering: pixelated;" width="100px" height="auto">
				</div>
			</div>
			<div class="row center-block">
				<h3>Farm</h3>
				<img src="{{ data.farm_url }}" style="image-rendering: pixelated;" width="700px" height="auto">
			</div>
			<p> {{ data }}</p>
			{% if error %}
				<p class="error"><strong>Error:</strong> {{ error }}</p>
			{% endif %}
			<br>
			<div class="container lead">
			</div>
			<div class="text-center">
				<p class="text-muted">Took {{ processtime }} seconds to process request | source at <a href="https://github.com/Sketchy502/SDV-Summary">GitHub</a></p>
			</div>
		</div>
	</body>
</html>