<!DOCTYPE html>
<html>
	<head>
		<title>{{data.farmName}} Farm Summary - SDV Summary</title>
		<link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
		<link rel="stylesheet" href="{{ url_for('static', filename='./css/style.css') }}">
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
		<link href='https://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<div class="container">
			<div class="col-md-10 col-md-offset-1 col-sm-12 panel">
				<div class="subsection">
					<div class="col-md-2 col-sm-12 text-center" style="padding: 20px;">
						<a href="/">
							<div class="row">
								<img src="{{url_for('static', filename='favicon.png')}}" class="logo">
							</div>
							<div class="row">
								SDV Summary
							</div>
						</a>
					</div>
					<div class="col-md-10 col-sm-12">
						<h1 class="text-center">{{ data.farmName }} Farm</h1>
						{% if others %}
							<div class="row center-block">
								<ul class="list-inline text-center">
								{% for other in others %}
									{% if other.0 == data.url %}
									<li><b>{{ other.1 }} days</b></li>
									{% else %}
									<li><a href="/{{ other.0 }}" >{{ other.1 }} days</a></li>
									{% endif %}
								{% endfor %}
								</ul>
							</div>
						{% endif %}
						{% if deletable %}
						<ul class="list-inline text-center"><li>Delete:</li><li><a href="{{data.url}}/del">this page</a>?</li>{% if others|length > 1 %}<li><a href="{{data.url}}/delall">all for this farm</a>?</li>{% endif %}</ul>
						{% endif %}
					</div>
				</div>
			{% if error %}
				<p class="text-danger text-center"><strong>Error:</strong> {{ error }}</p>
			{% endif %}
			</div>
			<div class="row center-block">				
				<div class="col-md-7 col-sm-12 panel">
					<div class="subsection">
						<h3>Player Information</h3>
						<div class="col-sm-3">
							<img src="{{ data.avatar_url }}" class="playerAvatar">
						</div>
						<div class="col-sm-8 col-sm-offset-1">
							<p>Name: {{ data.name }}</p>
							<p>Current Funds: {{ data.money }}g</p>
							<p>Total Earnings: {{ data.totalMoneyEarned }}g</p>
							<p>Gender: {% if data.isMale %} Male {% else %} Female {% endif %}</p>
							<p>Favorite Thing: {{ data.favoriteThing }}</p>
							<p>Health: {{ data.maxHealth }}</p>
							<p>Stamina: {{ data.maxStamina }}</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-md-offset-1 col-sm-12 panel"><!--col-md-offset-1-->
						<div class="subsection">
							<h3>Minimap</h3>
							<a href="#mainFarm"><img src="{{ data.farm_url }}" class="img-responsive farmImg" style="image-rendering: pixelated;" height="auto"></a>
						</div>					
				</div>
			</div>
			<div class="row center-block">
				<div class="col-md-7 col-sm-12 panel">
					<div class="subsection">	
						<div class="col-md-12">
							<h3>Friendships</h3>
						</div>
						{% for i in range((friendships|length/2)|int) %}
						<div class="col-md-6 col-sm-6">							
										<p style="margin-left: 1em;">{{ friendships[2*i].0 }}: {{ friendships[2*i].1 // 250 }}/10</p>
						</div>
						<div class="col-md-6 col-sm-6">							
										<p style="margin-left: 1em;">{{ friendships[2*i + 1].0 }}: {{ friendships[2*i + 1].1 // 250 }}/10</p>
						</div>
						{% endfor %}
					</div>
				</div>

				<div class="col-md-4 col-md-offset-1 panel">
					<div id="subsection">
						<h3>Statistics</h3>
						<div id="stats">
						{% if kills %}
						<h4>Kills</h4>
							<ul class="list-unstyled">
							{% for kill in kills %}
							<li>{{ kill.0 }}: {{ kill.1 }}</li>
							{% endfor %}
							</ul>
						{% endif %}
						</div>
					</div>
				</div>
			</div>
			<div class="row center-block panel">
				<a name="mainFarm"></a>
				<div class="subsection">
					<div class="col-md-12">
						<h3>Full Map of {{data.farmName}} Farm</h3>
						<img src="{{ data.farm_url }}" class="img-responsive farmImg" style="image-rendering: pixelated;" height="auto">
					</div>
				</div>
			</div>
			<!-- <p> {{ data }}</p> -->
			<br>
			<div class="container lead">
			</div>
			<div class="text-center">
				<p class="text-muted">Took {{ processtime }} seconds to process request | source at <a href="https://github.com/Sketchy502/SDV-Summary">GitHub</a></p>
			</div>
		</div>
	</body>
</html>