<script>
/*Voting state setup*/
var votestate = {{vote|safe}};

var upvotecontents = '{{url_for('static',filename='css/voting/upvote.png')}}';
var downvotecontents = '{{url_for('static',filename='css/voting/downvote.png')}}';
var unupvotecontents = '{{url_for('static',filename='css/voting/upvoted.png')}}';
var undownvotecontents = '{{url_for('static',filename='css/voting/downvoted.png')}}';
var upvotehovercontents = '{{url_for('static',filename='css/voting/upvote-hover.png')}}';
var downvotehovercontents = '{{url_for('static',filename='css/voting/downvote-hover.png')}}';
/*end voting logic*/
</script>
<script src="{{ url_for('static', filename='js/voting.js') }}"></script>